### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="K2P-USB"

### Linux kernel and toolchain
CONFIG_FIRMWARE_INCLUDE_SFE=y

CONFIG_LINUXDIR=linux-4.4.x

############################################################
### Linux kernel configuration
############################################################

### 启用IPv6
CONFIG_FIRMWARE_ENABLE_IPV6=y

### 启用USB
CONFIG_FIRMWARE_ENABLE_USB=y

### 通过ANTFS驱动程序启用 NTFS 文件系统支持
CONFIG_FIRMWARE_INCLUDE_ANTFS=y

### 启用 FAT/FAT32 文件系统支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### 启用 exFAT（以及 FAT/FAT32）文件系统支持 ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### 启用 EXT2 文件系统支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=y

### 启用 EXT3 文件系统支持 ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=y

### 启用 EXT4 (EXT3/2) 文件系统支持 ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### 启用 XFS 文件系统支持 ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=n

### 启用 FUSE（用户空间中的文件系统）支持 ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### 启用交换文件/分区支持 ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=y

###  UVC 摄像头模块 ~0.2MB
#CONFIG_FIRMWARE_INCLUDE_UVC=n

###  USB-HID 模块 ~0.2MB
#CONFIG_FIRMWARE_INCLUDE_HID=n

###  USB-串口模块（例如 pl2303） ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### USB-音频模块 ~0.46MB
#CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### XFRM（IPsec）模块和iptables扩展 ~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### 网络QoS度模块 ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

###  IMQ 模块 ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

###  IFB 模块 ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

###  IPSet 内核与工具 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### NFSv3 服务器 ~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=y

###  NFSv3 客户端 ~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=y

### CIFS (SMB) 客户端 ~0.2MB
#CONFIG_FIRMWARE_INCLUDE_CIFS=y

############################################################
### Userspace configuration
############################################################

###包含  WebUI  语言设置
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### NTFS-3G FUSE  驱动程序 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

###  LPR 打印机守护进程 ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=n

### USB-over-Ethernet  打印守护进程 ~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=n

### tcpdump  网络分析工具. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n

###  hdparm  磁盘测试工具 ~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=y

### parted  磁盘管理工具 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=y

### SMB3.6 服务器 ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

###  WINS 服务器 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### SMB和WINS服务器的系统日志服务 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n

### FTP服务器 ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=y

###  RP-L2TP客户端 ~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### EAP-TTLS和EAP-PEAP身份验证支持 ~0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

###  HTTPS 支持 ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

###  sftp 服务器 ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

###  dropbear SSH服务器 ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Make the dropbear symmetrical ciphers and hashes faster. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### 启用 OpenSSH 服务器而不是dropbear openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=n

### 启用 OpenVPN.需要IPv6 openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n

### 启用 StrongSwan 开源VPN XFRM模块 ~0.2MB, StrongSwan模块 ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### 将椭圆曲线（EC）包含到openssl库中 ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### 包含用于生成证书的“openssl”可执行文件。 ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### 启用 xUPNPd IPTV 媒体服务器. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n

### 启用 Minidlna UPnP 媒体服务器 ~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### 启用 Firefly iTunes 媒体服务器 ~1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### 使用 ffmpeg 0.11.x多媒体框架 代替 Minidlna，Firefly 原本的ffmpeg 0.6.x  ~0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n

### 启用 Transmission BT下载工具 openssl ~1.2MB, transmission ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
### 启用 Transmission BT下载工具的 WebUI ~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

###  Aria2 下载工具 ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=y

###  Aria2 WEB操作界面 ~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=y
###  CURL命令行工具
CONFIG_FIRMWARE_INCLUDE_CURL=y
###  华南理工认证
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n
###  广东大学认证
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n
###  哆点校园认证
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n
### 锐捷认证
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n
### 南京校园认证
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n
### SoftEther VPN 服务器
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n
## SoftEther VPN 客户端
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n
### 微软KMS激活服务器
CONFIG_FIRMWARE_INCLUDE_VLMCSD=n
### 网页端SSH服务器
CONFIG_FIRMWARE_INCLUDE_TTYD=y

### 用 msd_lite 代替 udpxy
CONFIG_FIRMWARE_INCLUDE_MSD_LITE=y
### lrzsz文件上传下载工具
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n
### htop交互式进程查看器。
CONFIG_FIRMWARE_INCLUDE_HTOP=n
### MANO终端文本编辑器
CONFIG_FIRMWARE_INCLUDE_NANO=n
### iperf3测速软件
CONFIG_FIRMWARE_INCLUDE_IPERF3=n
### 一个用于RTL-SDR设备的S模式解码器
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n
### rtl_sdr无线电工具
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n
### mtr网络诊断工具
CONFIG_FIRMWARE_INCLUDE_MTR=n
### socat多功能中继软件
CONFIG_FIRMWARE_INCLUDE_SOCAT=n
### srelay代理
CONFIG_FIRMWARE_INCLUDE_SRELAY=n
### 锐捷校园认证
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n
### frpc内网穿透客户端
CONFIG_FIRMWARE_INCLUDE_FRPC=n
### fprs内网穿透服务器
CONFIG_FIRMWARE_INCLUDE_FRPS=n

### 科学上网
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n
### Include xray  ~4.5M
CONFIG_FIRMWARE_INCLUDE_XRAY=n
### Include v2ray
CONFIG_FIRMWARE_INCLUDE_V2RAY=n
### Include sing-box
CONFIG_FIRMWARE_INCLUDE_SINGBOX=n
### Include trojan  ~1.2M
CONFIG_FIRMWARE_INCLUDE_TROJAN=n
### Include simple-obfs
CONFIG_FIRMWARE_INCLUDE_SSOBFS=n
### Include naiveproxy
CONFIG_FIRMWARE_INCLUDE_NAIVEPROXY=n

### adbyby plus+去广告工具
CONFIG_FIRMWARE_INCLUDE_ADBYBY=n

### DNS 服务器
CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n
CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y
CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n

### zerotier内网穿透 ~1.3M
CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n
CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n
### ddnsto内网穿透  ~0.5M
CONFIG_FIRMWARE_INCLUDE_DDNSTO=n
### ALDRIVER  ~3m
CONFIG_FIRMWARE_INCLUDE_ALDRIVER=n
### sqm流控
CONFIG_FIRMWARE_INCLUDE_SQM=n
### wireguard VPN软件 10k
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n

### CPU超频
CONFIG_FIRMWARE_INCLUDE_OC=y
### Clock Rate: 1000Mhz=0x312 1100Mhz=0x362 1120Mhz=0x372 1200Mhz=0x3B2
CONFIG_FIRMWARE_MT7621_OC="0x312"
